<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <item android:title="satelite view"/>
    <item android:title="Road view"/>
    <item android:title="Train view"/>
    <item android:title="geography view"/>
</menu>